*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
}
body{
    background-color: #D5DFE5;
}
:root{
    --margin-left-desktop: 10dvw;
    --margin-right-desktop: 10dvw;
}
nav{
    height: 80px;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-content: center;
    background-color: white;
    position: relative;
    box-shadow: 0px 10px 10px #943c3c3a;
    z-index: 3;
}
nav #name{
    justify-self: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-self: center;
}
nav ul li{
    margin: 0px 30px;
}
nav ul li a{
    text-decoration: none;
    color: blue;
}
p span#chart{
    font-size: 30px;
}
.simple-intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-top: 20dvh; */
    padding-left: var(--margin-left-desktop);
    padding-right: var(--margin-right-desktop);
    align-content: center;
    background-color: #FFDF64;
    width: 100%;
    height: 100dvh;
}

#simple-intro-txt{
    width: 70%;
    justify-self: center;
}
#simple-intro-txt p{
    margin: 25px 0px;
    font-size: 25px;
}
#simple-intro-txt #highlight{
    font-weight: bold;
    font-size: 45px;
}

#picture{
    justify-self: center;
}
#picture img{
    border-radius: 8%;
}
section#projects{
    height: 100dvh;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding-top: 20dvh;
    padding-left: var(--margin-left-desktop);
    padding-right: var(--margin-right-desktop);
    background-color: #4D7298;
}
section#projects > p{
    grid-column: 2/4;
    grid-row: 1;
    font-size: 30px;
    text-align: center;
    color: white;
}
section#projects div{
    background-color: aquamarine;
    border-radius: 1%;
}
div#proj_1{
    grid-row: 2/5;
    grid-column: 2;
}
div#proj_2{
    grid-row: 2/7;
    grid-column: 3;
}
div#proj_3{
    grid-column: 2;
    grid-row: 5/7;
}

section#tech_skills{
    display: grid;
    height: 100dvh;
    padding-top: 10dvh;
    padding-left: var(--margin-left-desktop);
    padding-right: var(--margin-right-desktop);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    background-color: #5A352A;
    padding-bottom: 10dvh;
}
section#tech_skills p{
    font-size: 40px;
    grid-column: 1/6;
    grid-row: 1;
    text-align: center;
    color: white;
}

section#tech_skills div{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

section#tech_skills div p{
    font-size: 30px;
}
section#tech_skills div :not(p){
    font-size: 70px;
    color: white;
}
section#tech_skills div{
    border: 5px dotted #02020298;
    /* background-color: #ffffffa6; */
    border-radius: 1%;
    
}
section#tech_skills div.skill_1{
    grid-row: 2;
    grid-column: 2;
}
section#tech_skills div.skill_2{
    grid-row: 2;
    grid-column: 3;
}
section#tech_skills div.skill_3{
    grid-row: 2;
    grid-column: 4;
}

section#tech_skills div.skill_4{
    grid-row: 3;
    grid-column: 2;
}
section#tech_skills div.skill_5{
    grid-row: 3;
    grid-column: 3;
}
section#tech_skills div.skill_6{
    grid-row: 3;
    grid-column: 4;
}
section#profissional_experience{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100dvh;
    padding-left: var(--margin-left-desktop);
    padding-right: var(--margin-right-desktop);
    background-color: #50723C;
}
p#prof_ex_head{
    font-size: 40px;
    grid-row: 1;
    text-align: center;
    grid-column: 1/end;
    color: white;
}
section#profissional_experience div{
    border-radius: 1%;
    width: 100%;
    grid-row: 2/6;
    grid-column: 1/5;
}
section#contact{
    display: grid;
    height: 60dvh;
    margin-right: var(--margin-right-desktop);
    margin-left: var(--margin-left-desktop);
}
footer{
    display: grid;
    height: 20dvh;
    margin-top: 10px;
    border-top: 1px solid #85858598;
    padding-left: var(--margin-left-desktop);
    padding-right: var(--margin-right-desktop);
}

section#profissional_experience div > div.float-card{
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border: 2px dashed white;
}



section#profissional_experience div > div.float-card p{
    color: white;
}

div.float-card p.period{
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0px;
}

div.float-card p.employee {
    font-weight: 400;
    font-size: 30px;
    padding: 5px 0px;
}

div.float-card p.job-role{
    font-size: 20px;
    padding: 5px 0px;
}
div.float-card p.job-expecific{
    font-size: 20px;
    padding-top: 10px;
}
div.float-card p.job-skills{
    padding-top: 10px;
    font-size: 22px;
    padding-bottom: 10px;
}
div.float-card ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    column-gap: 10px;
}
div.float-card ul li{
    border-radius: 10%;
    font-size: 20px;
    color: white;
}
